/* head  css  */
      #head-icon i{
        font-size: 2rem;
        margin-top: 15px;   
        color:white;      
      }
       .line {
        border-left: 2px solid white;
        padding-left: 12px;
        padding-right: 12px;
      }
      .line1{
        border-right: 2px solid white;
      }
      #head h3{ color:white; 
      }
      #head i{
        color:white; 
      }
     /* nav css  */
      .navbar-nav a{
        font-size: 1.4rem;
      }
        .head-btn {
            display:flex;
           
        }
         .head-btn a{
            font-size: 1.0rem;
            padding-top:15px;
            color:#0D0D0D;
        }
        .create{
            margin-top: 100px;
        }
        .span{
            text-size:1rem;
            color:white;
        }
        .logoutDiv{
            color:white;
            text-align:right;
            margin-top: 18px;
        }
        .logoutDiv a{
            color:white;
            text-decoration:none;
            margin-left: 28px;
            font-size:1.3rem;
        }
        /* footer css  */
        #footer{
           background-color:#120E43;
           color:white;
        }
        #footer a{
          text-decoration:none;
          color:#F2F1EF;
        }
         .copyright{
          background-color:#ECF0F1;
        }
        #contactDiv{
          border:2px solid wheat;
          padding:0px 30px 0px 30px;
          background:#ffffff;
        }
         /* Admin login css  */
        #loginDiv{
          margin-top: 200px;
        }
       
           /* Dashboard link list css  */
         #dashLink a{
          color: black;
          text-decoration: none;
          font-size: 1.3rem;
        }
             
         #dashLinkList{
          height: 100%;

         }
         /* Dashboard navbar css  */
        #dash-nav{
          height: 140px;
          text-align: center;
          color: white;
         
        }
         #dash-nav .logoutBtn {
           color: white;
            padding-top: 50px;
            font-size: 1.2rem;
         }
        .nameDiv h4{
             padding-top: 10px;
              margin-left: 10px;
              text-align: left;
              margin-top: 20px;
         }
          /* Dashboard admin list css  */
          #adminListTable h2{
            margin-top: 40px;
          }
         #adminListTable table{
          margin-top: 40px;
         }
         #userListTable h2{
          margin-top: 40px;
         }
         #userListTable table {
          margin-top: 40px;
         }


         .slidebar{
            position: fixed;
            width: 250px;
            left: 0;
            background: #1b1b1b;
         }
       