   /* dashboard page style code Start */

.logout-Btn{
    font-size:1.4rem;
    text-decoration:none;
    color:wheat;
    margin:1% 1% 0px 0px;
}
#logout-Div{
    background-color:#120E43;
}
.title{
   padding:1% 0 1% 0;
    background-color:#03203C;
    color:wheat;
   
}
.title h1{
    font-size:4rem;
}
.dash-link{
 padding:1% 0px ;
text-align:center;
margin:1% 0px;
border: 2px solid wheat;
font-style:oblique;
}
.dash-link a{
    text-decoration:none;
    color: #03203C;
    
}


/*  dashboard Page Style Code End  */



/*  Login Page Style Code start  */

#login-form{
    background-color: white;
   margin-top: 10%;
   padding: 40px 30px 10px 30px;
  }
 .login-btn{
  width: 40%;
   color: white;
    font-size: 1.2rem;
    margin-top: 3%;
 }
 .signup-link{
  margin-top: 10px; 
  font-size: 1.1rem; 
  color: maroon;
 }
 .signup-link a{
  color: black;
   text-decoration: underline;
 }
 .title{
   font-size:4rem;
 }

/*  Login Page Style Code End  */


/*  register Page Style Code start  */

#register-form{
    margin: 50px ;
    padding: 40px 30px 10px 30px;
   }
  .register-btn{
   width: 40%;
    color: white;
     font-size: 1.2rem;
     margin-top: 3%;
  }
  .login-link{
   margin-top: 10px; 
   font-size: 1.1rem; 
   color: maroon;
  }
  .login-link a{
   color: black;
    text-decoration: underline;
  }
  .title{
    font-size:4rem;
  }


/*  register Page Style Code End  */



/*  Add Category's Page Style Code Start  */

.title{
    padding:20px 0px 20px 0px;
    background-color:#03203C;
    color:wheat;
}
#register-form{
  background-color: white;
}
.register-btn{
width: 40%;
 color: white;
  font-size: 1.2rem;
  margin-top: 3%;
}
.login-link{
margin-top: 10px; 
font-size: 1.1rem; 
color: maroon;
}
.login-link a{
color: black;
 text-decoration: underline;
}


/*  Add Category's Page Style Code End  */



/*  Add Product's Page Style Code start  */


.logout-Btn{
    font-size:1.4rem;
    text-decoration:none;
    color:wheat;
    margin:1% 1% 0px 0px;
}
#logout-Div{
    background-color:#120E43;
}
.title{
    padding:20px 0px 20px 0px;
    background-color:#03203C;
    color:wheat;
}
#register-form{
  background-color: white;
}
.register-btn{
width: 40%;
 color: white;
  font-size: 1.2rem;
  margin-top: 3%;
}
.login-link{
margin-top: 10px; 
font-size: 1.1rem; 
color: maroon;
}
.login-link a{
color: black;
 text-decoration: underline;
}

/*  Add Product's Page Style Code End  */